<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xiaomei"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="21" />

    <application
        android:name=".XiaoMeiApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name">
        
<activity
	            android:name=".launch.LaunchActivity"
	            android:label="LaunchActivityr" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <!-- 主页面 -->
         <activity
	            android:name=".contanier.TabsActivity"
	            android:label="TabsActivity" >
        </activity>
        
        <activity
            android:name=".leveltwo.WebViewActivity"
            android:configChanges="orientation|keyboardHidden"
            >
        </activity>
                <activity
            android:name=".leveltwo.WebViewActivity1"
            android:configChanges="orientation|keyboardHidden"
            >
        </activity>
        
       <activity
            android:name=".leveltwo.GoodsDetailActivity"
            android:configChanges="orientation|keyboardHidden">
        </activity>
        <!-- 机构详情 -->
       <activity
            android:name=".leveltwo.MechanismDetailActivity"
            android:configChanges="orientation|keyboardHidden">
        </activity>        
       
		<!-- 登陆注册 -->
		<activity 
		    android:name="com.xiaomei.module.user.LoginAndRegisterActivity">
		</activity>
		
		<!-- 找回密碼 -->
		<activity 
		    android:name="com.xiaomei.module.user.FindPasswordActivity">
		</activity>
		
		
		<!-- 浏览记录 -->
		<activity 
		    android:name="com.xiaomei.module.user.center.HistoryActivity">
		</activity>
		<!-- 我的订单 -->
		<activity 
		    android:name="com.xiaomei.module.user.center.UserOrderListActivity">
		</activity>
		<!-- 关于 -->
		<activity 
		    android:name="com.xiaomei.module.user.center.AboutActivity">
		</activity>
		<!-- 我的收藏 -->
		<activity 
		    android:name="com.xiaomei.module.user.center.CollectionActivity">
		</activity>
		<!-- 我的消息 -->
		<activity 
		    android:name="com.xiaomei.module.user.center.MessageActivity">
		</activity>
		<!-- 我的反馈 -->
		<activity 
		    android:name="com.xiaomei.module.user.center.FeedbackActivity">
		</activity>
		<!-- 订单详情 -->
		<activity 
		    android:name="com.xiaomei.module.user.center.OrderDetailsActivity">
		</activity>		
		<!-- 商城二级 -->
		<activity 
		    android:name="com.xiaomei.leveltwo.MallSecondActivity">
		</activity>		
		<activity 
            android:name="com.xiaomei.leveltwo.GoodsListActivity">
        </activity> 
		<!-- 圈子详情页 -->
		<activity 
		    android:name="com.xiaomei.leveltwo.BeautifulRingDetailsActivity">
		</activity>		
		<!-- 用户详情页 -->
		<activity 
		    android:name="com.xiaomei.module.user.center.UserInfoActivity">
		</activity>
		
		<!-- 测试 phonegap -->
		<activity 
		    android:name="com.xiaomei.test.PhoneGapAc"
		    android:configChanges="orientation|keyboardHidden">
		</activity>
		
		
		
	   <!-- ################### 支付宝 ###################### -->
		<activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind" >
        </activity>
        <activity
            android:name="com.alipay.sdk.auth.AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind" >
        </activity>
		
	   <!-- ###################注册SDK使用的Activity###################### -->
        <!--分享编辑页-->
        <activity
            android:name="com.umeng.socialize.view.ShareActivity"
            android:configChanges="orientation|keyboard"
            android:launchMode="singleTask"
            android:noHistory="true"
            android:theme="@style/Theme.UMDialog"
            android:windowSoftInputMode="stateVisible|adjustResize" >
        </activity>
		<!-- ############ QQ空间和QQ SSO授权的Activity注册 ############ -->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
               <data android:scheme="1104506536" /> 
            </intent-filter>
        </activity>
        <activity android:name="com.tencent.connect.common.AssistActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:screenOrientation="portrait">
        </activity>
    <!-- ###################添加UmengAppkey###################### -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="551671c8fd98c589220008bc" >
        </meta-data>
		
    </application>
    
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_TASKS"/>
       <!-- 获取mac地址作为用户的备用唯一标识 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />     
      <!-- 获取用户手机的IMEI，用来唯一的标识用户 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />      
    
    <!-- phonegap -->
    <supports-screens  
       android:largeScreens="true"  
       android:normalScreens="true"  
       android:smallScreens="true"  
       android:resizeable="true"  
       android:anyDensity="true"/>  
   <uses-permission android:name="android.permission.CAMERA" />  
   <uses-permission android:name="android.permission.VIBRATE" />  
   <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />  
   <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />  
   <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />  
   <uses-permission android:name="android.permission.INTERNET" />  
   <uses-permission android:name="android.permission.RECEIVE_SMS" />  
   <uses-permission android:name="android.permission.RECORD_AUDIO" />  
   <uses-permission android:name="android.permission.RECORD_VIDEO"/>  
   <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />  
   <uses-permission android:name="android.permission.READ_CONTACTS" />  
   <uses-permission android:name="android.permission.WRITE_CONTACTS" />     
   <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />     
   <uses-permission android:name="android.permission.GET_ACCOUNTS" />  
   <uses-permission android:name="android.permission.BROADCAST_STICKY" />  
   <uses-permission android:name="android.permission.INTERNET" />

</manifest>
