<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xiaomei"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="21" />

    <application
        android:name=".XiaoMeiApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name">
        
        <activity
	            android:name=".launch.LaunchActivity"
	            android:label="LaunchActivityr" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <!-- 主页面 -->
         <activity
	            android:name=".contanier.TabsActivity"
	            android:label="TabsActivity" >
        </activity>
        
       <!-- 欢迎页面 -->
        <activity
            android:name=".leveltwo.WebViewActivity">
        </activity>
        
		<!-- 登陆注册 -->
		<activity 
		    android:name="com.xiaomei.module.user.LoginAndRegisterActivity">
		</activity>
		
		<!-- 找回密碼 -->
		<activity 
		    android:name="com.xiaomei.module.user.FindPasswordActivity">
		</activity>
		
		
		<!-- 浏览记录 -->
		<activity 
		    android:name="com.xiaomei.module.user.center.HistoryActivity">
		</activity>
		<!-- 我的订单 -->
		<activity 
		    android:name="com.xiaomei.module.user.center.UserOrderActivity">
		</activity>
		<!-- 关于 -->
		<activity 
		    android:name="com.xiaomei.module.user.center.AboutActivity">
		</activity>
		<!-- 我的收藏 -->
		<activity 
		    android:name="com.xiaomei.module.user.center.CollectionActivity">
		</activity>
		<!-- 我的消息 -->
		<activity 
		    android:name="com.xiaomei.module.user.center.MessageActivity">
		</activity>
		<!-- 我的反馈 -->
		<activity 
		    android:name="com.xiaomei.module.user.center.FeedbackActivity">
		</activity>
		<!-- 订单详情 -->
		<activity 
		    android:name="com.xiaomei.module.user.center.OrderDetailsActivity">
		</activity>		
		<!-- 商城二级 -->
		<activity 
		    android:name="com.xiaomei.leveltwo.MallSecondActivity">
		</activity>		
		<!-- 圈子详情页 -->
		<activity 
		    android:name="com.xiaomei.leveltwo.BeautifulRingDetailsActivity">
		</activity>		
		
		
		<!-- ############ QQ空间和QQ SSO授权的Activity注册 ############ -->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
               <data android:scheme="tencent你的QQ互联APPID" /> 
            </intent-filter>
        </activity>
        <activity android:name="com.tencent.connect.common.AssistActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:screenOrientation="portrait">
        </activity>

		
    </application>
    
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_TASKS"/>

</manifest>
