<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xiaomei"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="21" />

    <application
        android:name=".XiaoMeiApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name">
        
        <activity
	            android:name=".launch.LaunchActivity"
	            android:label="LaunchActivityr" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
         <activity
	            android:name=".contanier.TabsActivity"
	            android:label="TabsActivity" >
        </activity>
        
        <activity
            android:name=".leveltwo.WebViewActivity">
        </activity>

		<activity 
		    android:name="com.xiaomei.module.user.LoginAndRegisterActivity">
		</activity>
		<!-- 浏览记录 -->
		<activity 
		    android:name="com.xiaomei.module.user.center.HistoryActivity">
		</activity>
		<!-- 我的订单 -->
		<activity 
		    android:name="com.xiaomei.module.user.center.UserOrderActivity">
		</activity>
		<!-- 关于 -->
		<activity 
		    android:name="com.xiaomei.module.user.center.AboutActivity">
		</activity>
		<!-- 我的收藏 -->
		<activity 
		    android:name="com.xiaomei.module.user.center.CollectionActivity">
		</activity>
		<!-- 我的消息 -->
		<activity 
		    android:name="com.xiaomei.module.user.center.MessageActivity">
		</activity>
		<!-- 我的反馈 -->
		<activity 
		    android:name="com.xiaomei.module.user.center.FeedbackActivity">
		</activity>
		<!-- 订单详情 -->
		<activity 
		    android:name="com.xiaomei.module.user.center.OrderDetailsActivity">
		</activity>		

		
    </application>
    
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

</manifest>
